* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	border: none;
}
section, header {
	display: block;
}
table {
	border-collapse: collapse;
	border-spacing: 0px;
	border-color: grey;
}
body {
	font-family: " 微软雅黑" Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.42857143;
	overflow-y: scroll;
}
.demo-main {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.demo-main-header {
	height: 106px;
	width: 100%;
	position: relative;
}
.corporateLogo {
	height: 70px;
	width: 245px;
	background-color: #5e85c9;
	float: left;
}
.corporateLogo > a {
	display: block;
	margin-left: 24px;
	margin-top: 10px;
}
.sitenav {
	width: 100%;
	height: 76px;
	background-color: #3f66ab;
}
ul.mainul {
	float: right;
}
ul.mainul li {
	float: left;
	border-left: 1px solid #2d4879;
}
ul.mainul li a {
	display: block;
	line-height: 24px;
	padding: 26px 16px;
	color: #bfcbe0;
	border-left: 1px solid #7490c1;
}
ul.mainul li a:hover {
	background-color: #486fb3;
}
ul.mainul li a img {
	position: relative;
	top: 2px;
	margin-right: 8px;
}
ul.mainul li a span {
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #f0725a;
	margin-left: 8px;
	color: #fff;
	text-align: center;
}
div.block-triangle {
	position: absolute;
	top: 70px;
	left: 230px;
}
div.navbar-inner {
	position: absolute;
	top: 70px;
	left: 0px;
	width: 232px;
	height: 36px;
	background: url(../image/navbar-inner_bg.gif) repeat-x;
}
div.navbar-inner h5 {
	font-family: " 微软雅黑" Helvetica, Arial, sans-serif;
	font-weight: lighter;
	line-height: 36px;
	font-size: 12px;
	color: #5e85c9;
	margin-left: 25px;
}
div.navbar-inner a#list {
	position: absolute;
	top: 6px;
	right: 14px;
}

div.navbar-inner.active  .demo-modal{
	opacity:1;
    pointer-events: auto;
    z-index: 1;
}

div.information {
	position: relative;
	width: 100%;
	height: 30px;
	background-color: #ddd;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
div.information p {
	position: absolute;
	top: 0;
	right: 16px;
	line-height: 30px;
	color: #797979;
}
.demo-main-section {
	position: absolute;
	left: 0;
	right: 0;
}
.demo-main-section .charts{
	border: 1px solid;
}
div.demo-home {
	background: url(../image/home-bg.gif) repeat;
	height: 100%;
	width: 100%;
	position: relative;
	overflow: auto;
}
div.nav {
	margin-left: 250px;
	line-height: 30px;
}
div.nav a {
	color: #797979;
}
div.nav a.active {
	color: #343439;
}
.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid #fff;
	border-right: 4px solid transparent;
	border-bottom: 0 dotted;
	border-left: 4px solid transparent;
}
/*---  侧面弹出面板  ---*/
.demo-modal {
	position: absolute;
	bottom: 0;
	right: 0;
	top: 36px;
	z-index:0;
	left: 0;
	opacity:0;
	transition: all 0.5s ease-out;
}

.demo-modal.active:after{
	
} 
.demo-side-pane {
	background-color: #f0f3f7;
	width: 231px;
	box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.2);
}
.demo-side-pane label {
	padding: 15px 25px;
	position: relative;
	z-index: 20;
	display: block;
	height: 44px;
	line-height: 14px;
	cursor: pointer;
	color: #6c7379;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	border-bottom: 1px solid #e9e9e9;
}
.demo-side-pane label em {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 10px;
}
.demo-side-pane label span {
	display: inline-block;
	position: absolute;
}
.demo-side-pane label:hover {
	background: #fff;
}
.demo-side-pane input:checked + label, .demo-side-pane input:checked + label:hover {
	background: #fff;
	color: #3d7489;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
}
.demo-side-pane label:hover:after, .demo-side-pane input:checked + label:hover:after {
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 8px;
	top: 9px;
	background: transparent url(../image/arrow_down.png) no-repeat center center;
}
.demo-side-pane input:checked + label:hover:after {
	background-image: url(../image/arrow_up.png);
}
.demo-side-pane label>a{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
.demo-side-pane input {
	display: none;
}
.demo-side-pane article {
	background: #f4f6f9;
	margin-top: -1px;
	height: 0px;
	overflow: hidden;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.demo-side-pane article ul {
	color: #828890;
	line-height: 24px;
	font-size: 12px;
	padding: 14px;
	padding-left: 50px;
	padding-right: 0px;
}
.demo-side-pane article ul li {
	padding: 6px 0;
}
.demo-side-pane article ul li a {
	display: block;
	color: #828890;
	padding-left: 10px;
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
}
.demo-side-pane article ul li a:hover {
	color: #fff;
	background-color: #5e85c9;
}
.demo-side-pane input:checked ~ article {
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.demo-side-pane input:checked ~ article.ac-small {
	height: 340px;
}
.demo-side-pane input:checked ~ article.ac-medium {
	height: 180px;
}
.demo-side-pane input:checked ~ article.ac-large {
	height: 230px;
}
/*---  表单  ---*/
.demo-home {
	padding: 16px;
}
.criteria {
	width: 100%;
	height: 48px;
	background-color: #5e85c9;
}
.criteria input {
	margin-top: 12px;
	margin-left:8px;
	border: 1px solid #5a7ebd;
	border-radius: 2px;
	background-color: #ededed;
	height: 26px;
	text-indent: 8px;
	box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.2);
}
.criteria button {
	height: 26px;
	border: 1px solid #1f4983;
	border-radius: 2px;
	padding: 0 14px;
	margin-left: 8px;
	background: url(../image/bt-bg.png) repeat-x;
	color: #fff;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
}
table.table {
	width: 100%;
	color: #5a5a5a;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	background-color: #fff;
	border-bottom: 3px solid #c9c9c9;
}
table.table td {
	text-align: left;
	line-height: 36px;
	border-bottom: 1px solid #edf1f4;
}
table.table td.text-kong{
	padding-left:14px;

}
table.table td.text-blue{
	color:#6789b9;
}
table.table td span {
	padding: 2px 4px;
	color: #fff;
	text-shadow: none;
}
table.table td span.green {
	background-color: #4bb04a;
}
table.table td span.red {
	background-color: #d7423e;
}
table.table thead {
	background-color: #edf1f4;
}
.morphsearch {
	width: 0;
	min-height: 0;
	background: #f1f1f1;
	position: absolute;
	z-index: 10000;
	top: 0;
	right: 0;
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
	-webkit-transition-property: min-height, width, top, right;
	transition-property: min-height, width, top, right;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.morphsearch.open {
	width: 100%;
	min-height: 100%;
	top: 0px;
	right: 0px;
}

.morphsearch-form {
	width: 100%;
	height: 40px;
	margin: 0 auto;
	position: relative;
	-webkit-transition-property: width, height, -webkit-transform;
	transition-property: width, height, transform;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.morphsearch.open .morphsearch-form {
	width: 80%;
	height: 160px;
	-webkit-transform: translate3d(0,3em,0);
	transform: translate3d(0,3em,0);
}

.morphsearch.hideInput .morphsearch-input {
	color: transparent;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.morphsearch.open .morphsearch-input {
	font-size: 7em;
}

/* placeholder */
.morphsearch-input::-webkit-input-placeholder {
	color: #c2c2c2;
}

.morphsearch-input:-moz-placeholder {
	color: #c2c2c2;
}

.morphsearch-input::-moz-placeholder {
	color: #c2c2c2;
}

.morphsearch-input:-ms-input-placeholder {
	color: #c2c2c2;
}

/* hide placeholder when active in Chrome */
.gn-search:focus::-webkit-input-placeholder {
	color: transparent;
}

input[type="search"] { /* reset normalize */
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;	
}

.morphsearch-input:focus,
.morphsearch-submit:focus {
	outline: none;
}

.morphsearch-submit {
	position: absolute;
	width: 80px;
	height: 80px;
	text-indent: 100px;
	overflow: hidden;
	right: 0;
	top: 50%;
	background: transparent url(../img/magnifier.svg) no-repeat center center;
	background-size: 100%;
	border: none;
	pointer-events: none;
	transform-origin: 50% 50%;
	opacity: 0;
	-webkit-transform: translate3d(-30px,-50%,0) scale3d(0,0,1);
	transform: translate3d(-30px,-50%,0) scale3d(0,0,1);
}

.morphsearch.open .morphsearch-submit {
	pointer-events: auto;
	opacity: 1;
	-webkit-transform: translate3d(-30px,-50%,0) scale3d(1,1,1);
	transform: translate3d(-30px,-50%,0) scale3d(1,1,1);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.morphsearch-close {
	width: 36px;
	height: 36px;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 100%;
	cursor: pointer;
	pointer-events: none;
	opacity: 0;
	-webkit-transform: scale3d(0,0,1);
	transform: scale3d(0,0,1);
}

.morphsearch.open .morphsearch-close {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.morphsearch-close::before,
.morphsearch-close::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	top: 0;
	left: 50%;
	border-radius: 3px;
	opacity: 0.2;
	background: #000;
}

.morphsearch-close:hover.morphsearch-close::before,
.morphsearch-close:hover.morphsearch-close::after {
	opacity: 1;
}

.morphsearch-close::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.morphsearch-close::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.morphsearch-content {
	color: #333;
	margin-top: 4.5em;
	width: 100%;
	height: 0;
	overflow: hidden;
	/*padding: 0 10.5%;*/
	background: #f1f1f1;
	position: absolute;
	pointer-events: none;
	opacity: 0;
}

.morphsearch.open .morphsearch-content {
	opacity: 1;
	height: auto;
	overflow: visible; /* this breaks the transition of the children in FF: https://bugzilla.mozilla.org/show_bug.cgi?id=625289 */
	pointer-events: auto;
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}

.dummy-column {
	width: 30%;
	padding: 0 0 6em;
	float: left;
	opacity: 0;
	-webkit-transform: translate3d(0,100px,0);
	transform: translateY(100px);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.morphsearch.open .dummy-column:first-child {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.morphsearch.open .dummy-column:nth-child(2) {
	-webkit-transition-delay: 0.45s;
	transition-delay: 0.45s;
}

.morphsearch.open .dummy-column:nth-child(3) {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.morphsearch.open .dummy-column {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.dummy-column:nth-child(2) {
	margin: 0 5%;
}

.dummy-column h2 {
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 800;
	color: #c2c2c2;
	padding: 0.5em 0;
}

.round {
	border-radius: 50%;
}

.dummy-media-object {
	padding: 0.75em;
	display: block;
	margin: 0.3em 0;
	cursor: pointer;
	border-radius: 5px;
	background: rgba(118,117,128,0.05);
}

.dummy-media-object:hover,
.dummy-media-object:focus {
	background: rgba(118,117,128,0.1);
}

.dummy-media-object img {
	display: inline-block;
	width: 50px;	
	margin: 0 10px 0 0;
	vertical-align: middle;
}

.dummy-media-object h3 {
	vertical-align: middle;
	font-size: 0.85em;
	display: inline-block;
	font-weight: 700;
	margin: 0 0 0 0;
	width: calc(100% - 70px);
	color: rgba(145,145,145,0.7);
}

.dummy-media-object:hover h3 {
	color: rgba(236,90,98,1);
}

/* Overlay */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.morphsearch.open ~ .overlay {
	opacity: 1;
}

@media screen and (max-width: 53.125em) {
	.morphsearch-input {
		padding: 0 25% 0 10px;
	}
	.morphsearch.open .morphsearch-input {
		font-size: 2em;
	}
	.dummy-column {
		float: none;
		width: auto;
		padding: 0 0 2em;
	}
	.dummy-column:nth-child(2) {
		margin: 0;
	}
	.morphsearch.open .morphsearch-submit {
		-webkit-transform: translate3d(0,-50%,0) scale3d(0.5,0.5,1);
		transform: translate3d(0,-50%,0) scale3d(0.5,0.5,1);
	}
}

@media screen and (max-width: 60.625em) {
	.morphsearch {
		width: 80%;
		top: 10%;
		right: 10%;
	}
}